{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
	<link rel="stylesheet" href="{% static "/css/bootstrap.css" %}" />
	<link rel="stylesheet" href="{% static "/css/style.css" %}" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {% if user.is_authenticated %}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="{% url 'auth_logout' %}?next=/">Logout</a></li>
            {% else %}
              <li role="presentation"><a href="{% url 'auth_login' %}">Login</a></li>
              <li role="presentation"><a href="{% url 'registration_register' %}">Register</a></li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">LoginApp</h3>
      </div>

        {% block content %}
        {% endblock %}
      </div>

      <footer class="footer">
        <p>&copy; 2017,AvB Inc.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
